<div class="box-login" style="margin-top:6%">
    <form [formGroup]="registerForm" (ngSubmit)="submit(this.registerForm.value)" #formDir="ngForm">
    <div>
        <div class="form-group">
            <label for="username" class="label">Usuário</label>
            <br>
        <input 
            type="text" 
            formControlName="username" 
            class="form-control"
            placeholder="Digite seu usuário"
            required
            />
            <div *ngIf="this.registerForm.get('username').invalid && formDir.submitted" class="validation-error">
                <p *ngIf="this.registerForm.get('username').errors?.['required']">O usuário é obrigatório</p>  
                <p *ngIf="this.registerForm.get('username').errors?.['minlength']">O usuário deve conter min de 5 caracteres</p>  

            </div>
            <p class="validation-error" *ngIf="wrong && !this.registerForm.get('username').errors?.['required']">Usuário em uso, tente outro</p>
        </div>
        <br>
        <label for="password" class="label">Senha</label>
        <br>
        <div class="form-group">
        <input 
            type="password" 
            formControlName="password" 
            class="form-control" 
            placeholder="Digite sua senha"
            required
            />
            <div *ngIf="this.registerForm.get('password').invalid && formDir.submitted" class="validation-error">
                <p *ngIf="this.registerForm.get('password').errors?.['required']">O senha é obrigatório</p>
                <p *ngIf="this.registerForm.get('password').errors?.['pattern']">A senha deve conter letra e número</p>
                <p *ngIf="this.registerForm.get('password').errors?.['minlength']">O senha deve conter min de 5 caracteres</p>  

            </div>
        </div>
        <br>
        <label for="password" class="label">Confirme Senha</label>
        <br>
        <div class="form-group">
            <input 
                type="password" 
                formControlName="passwordRepeat" 
                class="form-control" 
                placeholder="Confirme sua senha"
                required
                />
                <div *ngIf="this.registerForm.get('passwordRepeat').invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="this.registerForm.get('passwordRepeat').errors?.['required']">O senha é obrigatório</p>
                    <p *ngIf="this.registerForm.get('passwordRepeat').errors?.['pattern']">A senha deve conter letra e número</p>
                    <p *ngIf="this.registerForm.get('passwordRepeat').errors?.['minlength']">O senha deve conter min de 5 caracteres</p>  
                    <p *ngIf="this.registerForm.get('passwordRepeat').value != this.registerForm.get('password').value ">
                        As senhas não coincidem</p>  
                    

                </div>
            </div>
        <input 
            type="submit"
            value="Registrar"
            class="login"
        />
        <br/>
        <div style="margin-top:1em;"><a (click)="signUp()" id="signUp">Logar</a></div>
        
    </div>
</form>

<router-outlet></router-outlet>